:root {
    --LILY-BACKDROP-ZINDEX: 18;
    --LILY-BACKDROP-BGCOLOR: transparent;
    --LILY-BACKDROP-FILTER: none;
    --LILY-BACKDROP-MARGIN-L: 0px;
    --LILY-BACKDROP-MARGIN-R: 0px;
    --LILY-BACKDROP-MARGIN-T: 0px;
    --LILY-BACKDROP-MARGIN-B: 0px;

    --LILY-BLOBS-ZINDEX: 19;

    --LILY-VIEW-ZINDEX: 20;
    --LILY-VIEW-BGCOLOR: black;
    --LILY-VIEW-FILTER: none;
    --LILY-VIEW-MARGIN-L: var(--gap-body-left);
    --LILY-VIEW-MARGIN-R: var(--gap-body-right);
    --LILY-VIEW-MARGIN-T: var(--gap-body-top);
    --LILY-VIEW-MARGIN-B: var(--gap-body-bottom);

    --LILY-LYRICS-FONT: inherit;
    --LILY-LYRICS-ALIGN: left;
    --LILY-LYRICS-SIZE: 1.8em;
    --LILY-LYRICS-COLOR: var(--ONSP-VIBRANT-DOMINANTBRIGHT);
    --LILY-LYRICS-WEIGHT: 500;

    --LILY-INFO-COLOR: var(--ONSP-VIBRANT-DOMINANTDARK);
    --LILY-INFO-BGCOLOR: var(--ONSP-VIBRANT-DOMINANTBRIGHT);


    --LILY-BLOBS-VIBRANT: var(--ONSP-VIBRANT-VIBRANT);
    --LILY-BLOBS-DARKVIBRANT: var(--ONSP-VIBRANT-DARKVIBRANT);
    --LILY-BLOBS-LIGHTVIBRANT: var(--ONSP-VIBRANT-LIGHTVIBRANT);
    --LILY-BLOBS-MUTED: var(--ONSP-VIBRANT-MUTED);
    --LILY-BLOBS-DARKMUTED: var(--ONSP-VIBRANT-DARKMUTED);
    --LILY-BLOBS-LIGHTMUTED: var(--ONSP-VIBRANT-LIGHTMUTED);


    --LILY-NOTICE-HELP-BACKGROUND: rgb(71, 1, 22);
    --LILY-NOTICE-HELP-MAIN: #ffcdcd;
    --LILY-NOTICE-HELP-TIMEOUT: 10000ms; /* JS */

    --LILY-NOTICE-WARNING-BACKGROUND: rgb(71, 1, 22);
    --LILY-NOTICE-WARNING-MAIN: #ffcdcd;
    --LILY-NOTICE-WARNING-TIMEOUT: 80s;

    --LILY-LOADERS-TRACECOLOR: var(--LILY-LYRICS-COLOR);

    --LILY-CALC-MODULES-LT: 0px;
    --LILY-CALC-MODULES-RT: 0px;
    --LILY-CALC-MODULES-EM: 0px;
    --LILY-CALC-MODULES-MX: 0px;
}

/************************************************************* GLOBAL */
/* Only used when internal-theme-dynamicblobsfull is used */
.region.top.bar { z-index: var(--LILY-TOPMDLS-ZINDEX); }
.region { z-index: var(--LILY-ALLMDLS-ZINDEX); }


/******************************************************** BASE MODULE */
.LILY-Base .main {
    height: 100vh;
    width: 100vw;
}
.LILY-Base .main .backdrop {
    background-color: var(--LILY-BACKDROP-BGCOLOR);
    z-index: var(--LILY-BACKDROP-ZINDEX);
    backdrop-filter: var(--LILY-BACKDROP-FILTER);
    margin: var(--LILY-BACKDROP-MARGIN-T) var(--LILY-BACKDROP-MARGIN-R) var(--LILY-BACKDROP-MARGIN-B) var(--LILY-BACKDROP-MARGIN-L);

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}
.LILY-Base .main .backdrop .grid {
    display: none;
    filter: none;
    background-color: transparent;
}
.LILY-Base .main .sub {
    width: calc(100% - var(--LILY-VIEW-MARGIN-R) - var(--LILY-VIEW-MARGIN-L));
    height: calc(100% - var(--LILY-VIEW-MARGIN-T) - var(--LILY-VIEW-MARGIN-B));
    margin: var(--LILY-VIEW-MARGIN-T) var(--LILY-VIEW-MARGIN-R) var(--LILY-VIEW-MARGIN-B) var(--LILY-VIEW-MARGIN-L);
    background-color: var(--LILY-VIEW-BGCOLOR);
    backdrop-filter: var(--LILY-VIEW-FILTER);
    z-index: var(--LILY-VIEW-ZINDEX);

    border-radius: 3em;
    position: absolute;
    overflow: hidden;
    transition: all 1s;
}
.LILY-Base .main .sub .view {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    position: relative;
}
.LILY-Base .main .sub .blobs {
    height: 100%;
    max-height: 100%;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: black;
}
.LILY-Base .main .sub .blobs .grid {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: 
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . . . . . ."
    "V V V V V V V . . . LM LM LM LM LM ."
    ". . . . . . . . . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . . . . . . ."
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM";
    filter: blur(9.6em);
    opacity: 0.48;
}
.LILY-Base .main .sub .view .media {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px 1.8em 1.8em 1.8em;
    align-items: center;
    gap: 1em;
    padding: 1.34em;
    border-radius: 1.8em;
    background-color: var(--LILY-INFO-BGCOLOR);
    color: var(--LILY-INFO-COLOR);
    transition: all 1s;
}
.LILY-Base .main .sub .view .media .cover {
    height: 5.8em;
    min-height: 5.8em;
    width: 5.8em;
    min-width: 5.8em;
    background-position: center;
    background-size: cover;
    border-radius: 0.92em
}
.LILY-Base .main .sub .view .media .info {
    overflow: hidden;
    flex: 1;
    max-width: 100%;
}
.LILY-Base .main .sub .view .media .info .title {
    font-size: 1.88em;
    font-weight: 600;
    white-space: nowrap;
}
.LILY-Base .main .sub .view .media .info .subtitle {
    font-size: 1.36em;
    font-weight: 300;
    margin-top: -0.34em;
}
.LILY-Base .main .sub .view .container {
    margin: 2em 2.4em 0px 2.4em;
    flex: 1;
    height: -webkit-fill-available;
    overflow: scroll;
    max-height: 94%;
}
.LILY-Base .main .sub .view .container .ly {
    color: var(--LILY-LYRICS-COLOR);
    font-size: var(--LILY-LYRICS-SIZE);
    font-family: var(--LILY-LYRICS-FONT);
    font-weight: var(--LILY-LYRICS-WEIGHT);
    text-align: var(--LILY-LYRICS-ALIGN);
    transition: all 1s;
    padding-bottom: 0.4em;
    line-height: 1.32em;
}
.LILY-Base .main .sub .view .container .ly br {
    color: red;
}
/* Optional styles when there is no lyrics */
.LILY-Base .main .sub .view .extended { flex-flow: column nowrap; padding: 2em 2em 1.8em 2em; align-items: center; margin: 0.6em 2em 2em 2em; text-align: center; }
.LILY-Base .main .sub .view .extended .cover { height: 8em; min-height: 8em; width: 8em; min-width: 8em; }
.LILY-Base .main .sub .view .nolyrics { display: flex; flex-flow: column nowrap; justify-content: center; margin: 2em 2em 0.6em 2em; align-items: center; gap: 1em; padding: 1em; border-radius: 1.8em; color: var(--LILY-INFO-BGCOLOR); transition: all 1s; flex: 1; }
.LILY-Base .main .sub .view .extended .info .subtitle { font-size: 1.66em; }
.LILY-Base .main .sub .view .extended .info .title { font-size: 2.2em; }

.LILY-Base .blob {
    transition: all 1s;
}
.LILY-Base .blob-V {
    background-color: var(--LILY-BLOBS-VIBRANT);
}
.LILY-Base .blob-DV {
    background-color: var(--LILY-BLOBS-DARKVIBRANT);
}
.LILY-Base .blob-LV {
    background-color: var(--LILY-BLOBS-LIGHTVIBRANT);
}
.LILY-Base .blob-M {
    background-color: var(--LILY-BLOBS-MUTED);
}
.LILY-Base .blob-DM { 
    background-color: var(--LILY-BLOBS-DARKMUTED);
}
.LILY-Base .blob-LM {
    background-color: var(--LILY-BLOBS-LIGHTMUTED);
}

.LILY-Base .internal-style-container{/*BASESTYLE*/}

.LILY-Base .internal-style-full {
    --LILY-VIEW-MARGIN-L: 0px;
    --LILY-VIEW-MARGIN-R: 0px;
    --LILY-VIEW-MARGIN-T: 0px;
    --LILY-VIEW-MARGIN-B: 0px;
}
.LILY-Base .internal-style-full .sub { border-radius: 0px; }

.LILY-Base .internal-style-fullcalctopmodules {
    --LILY-VIEW-MARGIN-L: 0px;
    --LILY-VIEW-MARGIN-R: 0px;
    --LILY-VIEW-MARGIN-T: calc(var(--LILY-CALC-MODULES-MX) + var(--LILY-CALC-MODULES-EM));
    --LILY-VIEW-MARGIN-B: 0px;
    --LILY-BACKDROP-MARGIN-T: calc(var(--LILY-CALC-MODULES-MX) + 0px);
}
.LILY-Base .internal-style-fullcalctopmodules .sub { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }

.LILY-Base .internal-style-containercalctopmodules {
    --LILY-VIEW-MARGIN-T: calc(var(--LILY-CALC-MODULES-MX) + var(--LILY-CALC-MODULES-EM));
    --LILY-BACKDROP-MARGIN-T: calc(var(--LILY-CALC-MODULES-MX) + 0px);
}

.LILY-Base .internal-theme-dynamiccolors .sub .blobs .grid {
    display: none;
    filter: none;
    background-color: transparent;
}
.LILY-Base .internal-theme-dynamiccolors .sub .view {
    background-color: transparent;
}

.LILY-Base .internal-theme-dynamicblobsfull {
    --LILY-BACKDROP-MARGIN-T: 0px;
    --LILY-BACKDROP-BGCOLOR: black;
    --LILY-BACKDROP-FILTER: none;
}
.LILY-Base .internal-theme-dynamicblobsfull .sub .blobs .grid {
    display: none;
    filter: none;
    background-color: transparent;
}
.LILY-Base .internal-theme-dynamicblobsfull .sub {
    background-color: transparent;
}
.LILY-Base .internal-theme-dynamicblobsfull .sub .view {
    --LILY-VIEW-BGCOLOR: transparent;
    z-index: 3;
}
.LILY-Base .internal-theme-dynamicblobsfull .sub .blobs {
    z-index: 1;
    background-color: transparent;
}
.LILY-Base .internal-theme-dynamicblobsfull .backdrop .grid {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: 
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . . . . . ."
    "V V V V V V V . . . LM LM LM LM LM ."
    ". . . . . . . . . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . . . . . . ."
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM";
    filter: blur(9.6em);
    opacity: 0.48;
}

.LILY-Base .internal-style-containercalctopmodules.internal-theme-dynamicblobsfull .sub,
.LILY-Base .internal-style-container.internal-theme-dynamicblobsfull .sub {
    background-color: rgba(0, 0, 0, 0.3);
}

.LILY-Base .internal-theme-dynamicblobsfull.internal-style-fullcalctopmodules .sub .view .container {
    margin-top: 0px;
    padding-top: 0px;
}

.LILY-Base .internal-custom-reset {
    --LILY-VIEW-MARGIN-L: 0px;
    --LILY-VIEW-MARGIN-R: 0px;
    --LILY-VIEW-MARGIN-T: 0px;
    --LILY-VIEW-MARGIN-B: 0px;
    --LILY-BACKDROP-MARGIN-L: 0px;
    --LILY-BACKDROP-MARGIN-R: 0px;
    --LILY-BACKDROP-MARGIN-T: 0px;
    --LILY-BACKDROP-MARGIN-B: 0px;
}
.LILY-Base .internal-notice-hide.missing .view {
    display: none;
}
.LILY-Base .internal-notice-hide.missing {
    --LILY-BACKDROP-ZINDEX: 0;
}
.LILY-Base .internal-use-blackout .backdrop .grid .blackout,
.LILY-Base .internal-use-blackout .sub .blobs .grid .blackout {
    background-color: black;
}
.LILY-Base .internal-use-blackout .backdrop .grid,
.LILY-Base .internal-use-blackout .sub .blobs .grid {
        grid-template-areas: 
    "BA BA BA BD BD BD BD BD BD BD BD BD BD BC BC BC"
    "BA BA BA BD BD BD BD BD BD BD BD BD BD BC BC BC"
    "BA BA BA V V V V V V . DV DV DV BC BC BC"
    "BA BA BA V V V V V V . DV DV DV BC BC BC"
    "BA BA BA V V V V V V . DV DV DV BC BC BC"
    "BA BA BA V V V V V V . DV DV DV BC BC BC"
    "BA BA BA V V V V V V LM LM LM LM BC BC BC"
    "BA BA BA V V V V V V LM LM LM LM BC BC BC"
    "BA BA BA . M M M M . LM LM LM LM BC BC BC"
    "BA BA BA . M M M M . LM LM LM LM BC BC BC"
    "BA BA BA . M M M M . LM LM LM LM BC BC BC"
    "BA BA BA LV M M M M . LM LM LM LM BC BC BC"
    "BA BA BA LV M M M M . LM LM LM LM BC BC BC"
    "BA BA BA LV M M M M . . DM DM DM BC BC BC"
    "BA BA BA BB BB BB BB BB BB BB BB BB BB BC BC BC"
    "BA BA BA BB BB BB BB BB BB BB BB BB BB BC BC BC";
    filter: blur(8.8em);
    opacity: 0.42;
}

.LILY-Base .internal-visibility-flex.upstream-empty,
.LILY-Base .internal-visibility-flex.upstream-unknown {
    display: none;
}

.LILY-Base .internal-theme-normal {
    --LILY-VIEW-BGCOLOR: rgb(20, 20, 20);
    --LILY-LYRICS-COLOR: white;
    --LILY-INFO-COLOR: white;
    --LILY-INFO-BGCOLOR: black;
}
.LILY-Base .internal-theme-normal .sub .blobs {
    display: none;
    background-color: transparent;
}
.LILY-Base .internal-theme-normal .sub .blobs .grid {
    display: none;
    opacity: 1;
    filter: none;
}

.LILY-Base .internal-theme-dynamiccolors {
    --LILY-VIEW-BGCOLOR: var(--LILY-INFO-COLOR);
}
.LILY-Base .internal-theme-dynamiccolors .sub .blobs {
    display: none;
    background-color: transparent;
}
.LILY-Base .internal-theme-dynamiccolors .sub .blobs .grid {
    display: none;
    opacity: 1;
    filter: none;
}

/* Ovelays */
.LILY-Base .notice {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    align-items: center;
}
.LILY-Base .notice .content {
    background-color: var(--LILY-NOTICE-WARNING-BACKGROUND);
    border-radius: 2.4em;
    padding: 1.2em;
    margin: 0em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.2em;
}
.LILY-Base .notice .content .mainc {
    display: flex;
    flex-flow: column nowrap;
    color: var(--LILY-NOTICE-WARNING-MAIN);
    min-width: 38vw;
    margin-left: 0.2em;
}
.LILY-Base .notice .content .icon {
    height: 2.54em;
    width: 2.54em;
}
.LILY-Base .notice .content .spacer {
    flex: 1;
}
.LILY-Base .notice .content .title {
    font-size: 1.4em;
}
.LILY-Base .notice .content .subtitle {
    font-weight: 300;
    margin-top: -0.2em;
}
.LILY-Base .notice .content .progress {
    height: 0.24em;
    margin-top: 0.6em;
    border-radius: 1em;
    background-color: #ffffff42;
}
.LILY-Base .notice .warning .progress .bar {
    overflow: hidden;
    background-color: var(--LILY-NOTICE-WARNING-MAIN);
    height: 0.24em;
    border-radius: 1em;
    animation-fill-mode: forwards;
    animation-name: prog;
    display: block;
}
.LILY-Base .notice .help .progress .bar {
    overflow: hidden;
    background-color: var(--LILY-NOTICE-HELP-MAIN);
    height: 0.24em;
    border-radius: 1em;
    animation-fill-mode: forwards;
    animation-name: prog;
    display: block;
}
.LILY-Base .notice .warning .progress .bar {
    animation-duration: var(--LILY-NOTICE-WARNING-TIMEOUT);
}
.LILY-Base .notice .help .progress .bar {
    animation-duration: var(--LILY-NOTICE-HELP-TIMEOUT)
}
.LILY-Base .notice .content .qrContainer .qr svg {
    color: var(--LILY-NOTICE-WARNING-MAIN);
    display: block;
    height: 9em;
    width: 9em;
}
.LILY-Base .notice .content .qrContainer {
    margin-right: 0.4em;
}

/* ANIMATIONS */
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes prog { 0% { width: 100%; } 20% { width: 100%; } 88% { width: 0%; } 100% { width: 0%; }}


@media (orientation: landscape) {
  .LILY-Base .main .sub .view {
    flex-flow: row nowrap;
  }
  .LILY-Base .main .sub .view .container {
    margin: 2.22em 0em 2.22em 2.22em;
    /* margin: 2em 2em 2em 0px; order: 2; */
  }
  .LILY-Base .main .sub .view .container .ly {
    font-size: 1.8em;
  }
  .LILY-Base .main .sub .view .media {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1.8em 1.8em 1.8em 0px;
    gap: 1.24em;
    min-width: 28%;
    max-width: 40%;
    /* margin: 1.8em 1em 1.8em 1.8em; order: 1; */
    transition: all 1s;
    padding: 2em;
  }
  .LILY-Base .main .sub .view .media .info {
    flex: none;
    max-width: 97%;
  }
  .LILY-Base .main .sub .blobs .grid {
    grid-template-areas:
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . . . . . ."
    "V V V V V V V . . LM LM LM LM LM LM ."
    ". . . . . . . . . LM LM LM LM LM LM ."
    ". . . . M M M M . LM LM LM LM LM LM ."
    ". . . . M M M M . LM LM LM LM LM LM ."
    ". . . . M M M M . LM LM LM LM LM LM ."
    "LV LV LV LV M M M M . LM LM LM LM LM LM ."
    "LV LV LV LV M M M M . . . . . . . ."
    "LV LV LV LV . . . . DM DM DM DM DM DM DM DM"
    "LV LV LV LV . . . . DM DM DM DM DM DM DM DM"
    "LV LV LV LV . . . . DM DM DM DM DM DM DM DM";
  }
  .LILY-Base .main .sub .view .nolyrics {
    margin: 2em 0em 2em 2.2em;
    background-color: transparent;
  }
  .LILY-Base .main .sub .view .media .cover {
    height: 18em;
    min-height: 18em;
    width: 18em;
    min-width: 18em;
    border-radius: 1em;
  }
  .LILY-Base .main .sub .view .media .info {
    text-align: center;
  }
  .LILY-Base .main .sub .view .media .info .subtitle {
    font-size: 1.8em;
  }
  .LILY-Base .main .sub .view .media .info .title {
    font-size: 2.36em;
  }
  .LILY-Base .internal-use-blackout .backdrop .grid,
.LILY-Base .internal-use-blackout .sub .blobs .grid {
        grid-template-areas: 
    "BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD"
    "BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD"
    "BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD BD"
    "BA BA V V V V V V V . DV DV DV DV BC BC"
    "BA BA V V V V V V V . DV DV DV DV BC BC"
    "BA BA V V V V V V V . DV DV DV DV BC BC"
    "BA BA V V V V V V V LM LM LM LM LM BC BC"
    "BA BA V V V V V V V LM LM LM LM LM BC BC"
    "BA BA . . M M M M . LM LM LM LM LM BC BC"
    "BA BA LV LV M M M M . LM LM LM LM LM BC BC"
    "BA BA LV LV M M M M . LM LM LM LM LM BC BC"
    "BA BA LV LV M M M M . LM LM LM LM LM BC BC"
    "BA BA LV LV M M M M . LM LM LM LM LM BC BC"
    "BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB"
    "BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB"
    "BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB";
    filter: blur(8.8em);
    opacity: 0.42;
}
}