:root {
    --LILY-BACKDROP-ZINDEX: 18;
    --LILY-BACKDROP-BGCOLOR: #00000079;
    --LILY-BACKDROP-FILTER: none;
    --LILY-BACKDROP-MARGIN-L: 0px;
    --LILY-BACKDROP-MARGIN-R: 0px;
    --LILY-BACKDROP-MARGIN-T: 0px;
    --LILY-BACKDROP-MARGIN-B: 0px;

    --LILY-BLOBS-ZINDEX: 19;

    --LILY-VIEW-ZINDEX: 20;
    --LILY-VIEW-BGCOLOR: black /* var(--ONSP-VIBRANT-DOMINANTDARK) */;
    --LILY-VIEW-FILTER: none;
    --LILY-VIEW-MARGIN-L: var(--gap-body-left);
    --LILY-VIEW-MARGIN-R: var(--gap-body-right);
    --LILY-VIEW-MARGIN-T: var(--gap-body-top);
    --LILY-VIEW-MARGIN-B: var(--gap-body-bottom);

    --LILY-LYRICS-FONT: inherit;
    --LILY-LYRICS-SIZE: 1.8em;
    --LILY-LYRICS-COLOR: var(--ONSP-VIBRANT-DOMINANTBRIGHT);
    --LILY-LYRICS-WEIGHT: 500;

    --LILY-INFO-COLOR: var(--ONSP-VIBRANT-DOMINANTDARK);
    --LILY-INFO-BGCOLOR: /*#ffffff85*/ var(--ONSP-VIBRANT-DOMINANTBRIGHT);


    --LILY-BLOBS-VIBRANT: var(--ONSP-VIBRANT-VIBRANT);
    --LILY-BLOBS-DARKVIBRANT: var(--ONSP-VIBRANT-DARKVIBRANT);
    --LILY-BLOBS-LIGHTVIBRANT: var(--ONSP-VIBRANT-LIGHTVIBRANT);
    --LILY-BLOBS-MUTED: var(--ONSP-VIBRANT-MUTED);
    --LILY-BLOBS-DARKMUTED: var(--ONSP-VIBRANT-DARKMUTED);
    --LILY-BLOBS-LIGHTMUTED: var(--ONSP-VIBRANT-LIGHTMUTED);
}

/******************************************************** BASE MODULE */
.LILY-Base .main {
    height: 100vh;
    width: 100vw;
}
.LILY-Base .main .backdrop {
    background-color: var(--LILY-BACKDROP-BGCOLOR);
    z-index: var(--LILY-BACKDROP-ZINDEX);
    backdrop-filter: var(--LILY-BACKDROP-FILTER);
    margin: var(--LILY-BACKDROP-MARGIN-T) var(--LILY-BACKDROP-MARGIN-R) var(--LILY-BACKDROP-MARGIN-B) var(--LILY-BACKDROP-MARGIN-L);

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}
.LILY-Base .main .sub {
    width: calc(100% - var(--LILY-VIEW-MARGIN-R) - var(--LILY-VIEW-MARGIN-L));
    height: calc(100% - var(--LILY-VIEW-MARGIN-T) - var(--LILY-VIEW-MARGIN-B));
    margin: var(--LILY-VIEW-MARGIN-T) var(--LILY-VIEW-MARGIN-R) var(--LILY-VIEW-MARGIN-B) var(--LILY-VIEW-MARGIN-L);
    background-color: var(--LILY-VIEW-BGCOLOR);
    backdrop-filter: var(--LILY-VIEW-FILTER);
    z-index: var(--LILY-VIEW-ZINDEX);

    border-radius: 3em;
    position: absolute;
    overflow: hidden;
    transition: all 1s;
}
.LILY-Base .main .sub .view {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    position: relative;
}
.LILY-Base .main .sub .blobs {
    height: 100%;
    max-height: 100%;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: none;
}
.LILY-Base .main .sub .blobs .grid {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: 
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . DV DV DV DV DV"
    "V V V V V V V . . . . . . . . ."
    "V V V V V V V . . . LM LM LM LM LM ."
    ". . . . . . . . . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    ". . . . M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . LM LM LM LM LM ."
    "LV LV LV LV M M M M . . . . . . . ."
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM"
    "LV LV LV LV . . . . . . DM DM DM DM DM DM";
    filter: blur(9.6em);
}
/*.LILY-Base .main .sub .view .header {
    margin: 2em 2em 0px 2em;
    text-align: end;
    color: var(--LILY-INFO-BGCOLOR);
} */
.LILY-Base .main .sub .view .media {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px 1.8em 2em 1.8em;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 1.8em;
    background-color: var(--LILY-INFO-BGCOLOR);
    color: var(--LILY-INFO-COLOR);
    transition: all 1s;
}
.LILY-Base .main .sub .view .media .cover {
    height: 5.8em;
    min-height: 5.8em;
    width: 5.8em;
    min-width: 5.8em;
    background-position: center;
    background-size: cover;
    border-radius: 0.92em
}
.LILY-Base .main .sub .view .media .info {
    overflow: hidden;
    flex: 1
}
.LILY-Base .main .sub .view .media .info .title {
    font-size: 1.88em;
    font-weight: 600;
    white-space: nowrap;
}
.LILY-Base .main .sub .view .media .info .subtitle {
    font-size: 1.36em;
    font-weight: 300;
    margin-top: -0.34em;
}
.LILY-Base .main .sub .view .container {
    margin: 2em 2.4em 0px 2.4em;
    flex: 1;
    height: -webkit-fill-available;
    overflow: scroll;
    max-height: 94%;
    /* border-bottom-left-radius: 1.6em; */
    /* border-bottom-right-radius: 1.6em; */
}
.LILY-Base .main .sub .view .container .ly {
    color: var(--LILY-LYRICS-COLOR);
    font-size: var(--LILY-LYRICS-SIZE);
    font-family: var(--LILY-LYRICS-FONT);
    font-weight: var(--LILY-LYRICS-WEIGHT);
    transition: all 1s;
    padding-bottom: 0.4em;
}
.LILY-Base .main .sub .view .extended {
    flex-flow: column nowrap;
    padding: 2em 2em 1.8em 2em;
    align-items: center;
    margin: 0.6em 2em 2em 2em;
    text-align: center;
}
.LILY-Base .main .sub .view .extended .cover {
    height: 8em;
    min-height: 8em;
    width: 8em;
    min-width: 8em;
}
.LILY-Base .main .sub .view .nolyrics {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2em 2em 0.6em 2em;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 1.8em;
    background-color: rgba(0, 0, 0, 0.45);
    color: var(--LILY-INFO-BGCOLOR);
    transition: all 1s;
    flex: 1;
}
.LILY-Base .main .sub .view .extended .info .subtitle {
    font-size: 1.66em;
}
.LILY-Base .main .sub .view .extended .info .title {
    font-size: 2.2em;
}
.LILY-Base .blob {
    transition: all 1s;
}
.LILY-Base .blob-V {
    background-color: var(--LILY-BLOBS-VIBRANT);
    opacity: 0.5;
}
.LILY-Base .blob-DV {
    background-color: var(--LILY-BLOBS-DARKVIBRANT);
    opacity: 0.6;
}
.LILY-Base .blob-LV {
    background-color: var(--LILY-BLOBS-LIGHTVIBRANT);
    opacity: 0.5;
}
.LILY-Base .blob-M {
    background-color: var(--LILY-BLOBS-MUTED);
    opacity: 0.55;
}
.LILY-Base .blob-DM { 
    background-color: var(--LILY-BLOBS-DARKMUTED);
    opacity: 0.6;
}
.LILY-Base .blob-LM {
    background-color: var(--LILY-BLOBS-LIGHTMUTED);
    opacity: 0.5;
}