:root {
    --LILY-NOTICE-HELP-BACKGROUND: rgb(71, 1, 22);
    --LILY-NOTICE-HELP-MAIN: #ffcdcd;
    --LILY-NOTICE-HELP-TIMEOUT: 30s;

    --LILY-NOTICE-WARNING-BACKGROUND: rgb(71, 1, 22);
    --LILY-NOTICE-WARNING-MAIN: #ffcdcd;
    --LILY-NOTICE-WARNING-TIMEOUT: 80s;
}

.LILY-Base .notice {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    align-items: center;
}
.LILY-Base .notice .content {
    background-color: var(--LILY-NOTICE-WARNING-BACKGROUND);
    border-radius: 2.4em;
    padding: 1.2em;
    margin: 0em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.2em;
}
.LILY-Base .notice .content .main {
    display: flex;
    flex-flow: column nowrap;
    color: var(--LILY-NOTICE-WARNING-MAIN);
    min-width: 38vw;
    margin-left: 0.2em;
}
.LILY-Base .notice .content .icon {
    height: 2.54em;
    width: 2.54em;
}
.LILY-Base .notice .content .spacer {
    flex: 1;
}
.LILY-Base .notice .content .title {
    font-size: 1.4em;
}
.LILY-Base .notice .content .subtitle {
    font-weight: 300;
    margin-top: -0.2em;
}
.LILY-Base .notice .content .progress {
    height: 0.24em;
    margin-top: 0.6em;
    border-radius: 1em;
    background-color: #ffffff42;
}
.LILY-Base .notice .warning .progress .bar {
    overflow: hidden;
    background-color: var(--LILY-NOTICE-WARNING-MAIN);
    height: 0.24em;
    border-radius: 1em;
    animation-fill-mode: forwards;
    animation-name: prog;
    display: block;
}
.LILY-Base .notice .help .progress .bar {
    overflow: hidden;
    background-color: var(--LILY-NOTICE-HELP-MAIN);
    height: 0.24em;
    border-radius: 1em;
    animation-fill-mode: forwards;
    animation-name: prog;
    display: block;
}
.LILY-Base .notice .warning .progress .bar {
    animation-duration: var(--LILY-NOTICE-WARNING-TIMEOUT);
}
.LILY-Base .notice .help .progress .bar {
    animation-duration: var(--LILY-NOTICE-HELP-TIMEOUT)
}
.LILY-Base .notice .content .qrContainer .qr svg {
    color: var(--LILY-NOTICE-WARNING-MAIN);
    display: block;
    height: 9em;
    width: 9em;
}
.LILY-Base .notice .content .qrContainer {
    margin-right: 0.4em;
}

/* ANIMATIONS */
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes prog { from { width: 100%; } to { width: 0%; } }